@{
    ViewData["Title"] = "Formulário";
}

<h1>@ViewData["Title"]</h1>
<p>Preencha o formnulário</p>

<form action="TesteForm" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">

    <label for="Email">Email</label>
    <input type="email" name="email" id="email">

    <button type="submit">Enviar</button>
</form>